@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core. This is the first change committed by Matthew. This is the third change commited by James</a>.</p>
    <p>This is an edit made by Matthew within a branch</p>
</div>
